VITE_API_BASE_URL=https://exile-backend-9q6o.onrender.com/api/v1
VITE_APP_URL=https://exile-backend-9q6o.onrender.com
VITE_JITSI_DOMAIN=meet.jit.si
VITE_SUPABASE_URL=https://phjpbbcymhtppfkyoegk.supabase.co
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key_here